* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    font-size: 62.5%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
}

.page {
    width: 37rem;
    margin: 0 auto;
    padding: 1rem;
}

.container-profile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cards {
    background: var(--bg-cards);
    border-radius: 2rem;
    animation: alternate shadow 1s infinite;
    
}


.profile {
    width: 34.8rem;
    height: 29.4rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile img {
    width: 12.8rem;
    border-radius: 50%;
    border: 2px solid #00FF00;
}

.profile h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    line-height:  2.9rem;
    font-weight: 700;
    
}

.profile p {
    font-size: 1.3rem;
    line-height: 1.635rem;
}

.links {
    width: 34.8rem;
    height: 34.8rem;
    padding: 3rem 0 3rem 4rem;
    display: grid;

}

.links a{
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: all 200ms;

    font-size: 1.6rem;
}

.links a:hover {
    color: var(--bg-techs);
}

.links img {
    filter: var(--text-color);
}

.technologies {
    width: 34.8rem;
    height: 23.8rem;
    padding: 3rem 0 3rem 2rem;
}

.technologies h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
}

.cards-tec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3rem 0 3rem;
    gap: 15px;
}

.tec {
    background: var(--bg-techs);
    padding: .6rem 0 .7rem 0;
    border-radius: 3rem;
    text-align: center;
}

.tec span {
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 700;
}

.experiences {
    width: 34.8rem;
    height: 34.9rem;
    padding: 3rem 0 3rem 2rem;
}

.experiences h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

ul {
    margin-left: 4rem;
}

ul li, p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.education {
    width: 34.8rem;
    height: 34.9rem;
    padding: 3rem 0 3rem 2rem;
}

.education h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

ul {
    margin-left: 4rem;
}

.education ul li {
    margin-bottom: 1rem;
}

ul li, p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.myProjects {
    margin-top: 3rem;
    width: 34.8rem;
    height: 8.6rem;
    padding: 3.6rem;
}

.myProjects h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.myProjects a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.projects {
    margin-top: 3.1rem;
    gap: 3rem;
}

.projects-1 {
    margin-bottom: 3rem;
    width: 34.8rem;
    height: 18.9rem;
    padding: 3rem;
}

.projects-1 a {
    text-decoration: none;
    color: var(--text-color);
}

.pasta {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2.2rem;
}

.projects-1 p {
    font-size: 1.6rem;
}

.pasta span {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
}

.group-stars {
    margin-top: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separete {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.forks {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.forks span {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.lenguage {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lenguage span {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.ball {
    width: 1.5rem;
    height: 1.5rem;
    background: #E7DE79;
    border-radius: 50%;
    border: 0.2rem solid #837E9F;
}

@keyframes shadow {
    0% {
        box-shadow: inset 0 0 1em purple, 0 0 1em blue;
    }

    50% {
        box-shadow: inset 0 0 1.5em purple, 0 0 1.5em blue;
    }

    100% {
        box-shadow: inset 0 0 .5em purple, 0 0 .5em blue;
    }
}

@media (min-width: 800px) {

    .page {
        width: 76.8rem;
        padding: 4rem;
    }

    main {
        display: flex;
        gap: 3rem;
    }

    .myProjects{
        margin-top: 0;
    }
}

@media (min-width: 1300px) {
    .page {
        width: 130rem;
        padding: 4rem;
    }

    .cards {
        transition: transform 700ms;
    }

    .cards:hover {
        transform: scale(1.1);
    }

    .myProjects {
        width: 85rem;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projects-1 {
        width: 40rem;
    }

    .links a {
        font-size: 1.4rem;
    }

    .projects-1 p {
        font-size: 1.4rem;
    }
}